body {
    margin: 0;
    height: 200vh;
    display: flex;
    flex-direction: column;
}


@keyframes sidebarAnimation {
    from {width: 5vw;}
    to {width: 10vw;}
}

#sidebar {
    background-color: #34394D;
    width: 5vw;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#sidebar #logoImgSmall {
    max-width: 5vw;
    position: fixed;
}

#main {
    height: 100%;
    width: 95vw;
    margin-left: 5vw;
    display: flex;
    align-self: flex-start;
}

#newsBox {
    height: 10vh;
    width: 5vw;
    background-color: #cfd1d4;
}

footer {
    align-self: flex-end;
    width: 100%;
}
